<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>[IPC2] Hoja de Trabajo 2</title>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}"
</head>
<body>
		<div class="padre">
			<div class="hijo">
				<div class="img">
				    <img src="{% static 'imagen/foto.jpg' %}" height="300px" width="300px" >
			    </div>
				<div class="texto">
					<h1>Gerhard Benjamin Ardon Valdez</h1>
					<h1>202004796</h1>
				</div>
			</div>
		</div>
</body>
</html>