
.padre {
    background: #51d1f6;
    height: 700PX;
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hijo {
    background: #ffffff  ;
    width: 900px;
    height: 300PX;
  }
  .img {
    float:left;
  }

